body {
  font-family: Lato, sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

h1 {
  margin: 10px 0px;
  color: #fff;
  font-size: 100px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: rgba(33, 33, 33, 0.21) 0px 1px 0px;
}

h2 {
  margin: 10px 0px 35px;
  box-shadow: none;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.21) 0px 1px 0px;
}

h3 {
  margin: 0 0px;
  padding-bottom: 15px;
  color: #222;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}

.button {
  display: inline-block;
  margin-top: 20px;
  margin-left: 0px;
  padding: 4px 15px;
  border-radius: 40px;
  background-color: #222;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  border: 0px none #b6b6b6;
  background-color: #777;
  color: #fff;
  font-weight: 700;
}

.button.more {
  margin-top: 60px;
  border: 1px solid #c7c7c7;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #c7c7c7;
  font-size: 12px;
}

.button.more:hover {
  border-color: #aaa;
  background-color: transparent;
  color: #777;
  font-size: 12px;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section.header {
  padding-top: 0px;
  padding-bottom: 218px;
  background-image: url('../images/brooklyn.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.section.dark {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  background-image: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.section.dark.web {
  background-image: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.section.bg-image {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url('../images/wall.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.section.map {
  height: 120px;
  margin-bottom: 0px;
  padding: 80px;
  cursor: default;
}

.nav-links {
  padding-right: 14px;
  padding-left: 14px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.21) 0px 1px 0px;
}

.nav-links:hover {
  color: #222;
  text-shadow: none;
}

.nav-bar {
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 27px;
  text-align: right;
}

.hero-text {
  margin-top: 151px;
  padding-top: 0px;
}

.hero-text.about-text {
  margin-top: 0px;
}

.services {
  padding-right: 20px;
  padding-left: 20px;
}

.icon {
  padding-top: 0px;
  padding-bottom: 20px;
}

.portfolio-text {
  margin-top: 93px;
}

.portfolio-text.left-up {
  margin-top: 60px;
}

.gallery-text {
  padding-right: 144px;
  padding-left: 144px;
  text-align: center;
}

.gallery {
  margin-top: 55px;
  text-align: center;
}

.gallery-img {
  border: 5px solid #fff;
  box-shadow: #ccc 1px 1px 3px -1px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.gallery-img:hover {
  box-shadow: #ccc 1px 1px 3px -1px;
  opacity: 0.5;
}

.center-tittle {
  text-align: center;
}

.job-title {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 30px;
  float: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: none;
}

.team-text {
  margin-top: 31px;
  padding-right: 9px;
}

.name {
  padding-top: 39px;
  padding-bottom: 4px;
}

.social-team {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 20px;
}

.team2 {
  padding-top: 120px;
}

.h1-dark {
  padding-bottom: 60px;
  color: #222;
  text-align: left;
}

.field {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.address {
  padding-top: 30px;
}

.conatct-info {
  margin-top: 0px;
}

.support-text {
  margin-top: 50px;
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
}

.footer-logo {
  width: 30%;
  float: left;
  opacity: 0.2;
}

.social-wrapper {
  float: right;
  text-align: right;
}

.social-link {
  padding-right: 5px;
  padding-left: 5px;
  opacity: 0.57;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.social-link:hover {
  padding-top: 0px;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.footlogo {
  opacity: 0.5;
}

.footlogo:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.social-icon {
  padding-right: 10px;
  opacity: 0.25;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.logo-bar {
  padding-left: 30px;
}

.logolink {
  position: fixed;
  margin-top: 30px;
  margin-right: 0px;
}

.align-right {
  text-align: right;
}

.google-map {
  height: 300px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 84, 94, 0.29)), to(rgba(58, 84, 94, 0)));
  background-image: linear-gradient(rgba(58, 84, 94, 0.29), rgba(58, 84, 94, 0));
}

.image-wrapper {
  width: 40%;
  float: left;
}

.info-wrapper {
  width: 60%;
  float: right;
}

.body {
  background-color: #151515;
  color: #151515;
  cursor: default;
}

.image {
  margin-right: 24px;
  margin-left: auto;
  padding-left: 0px;
  background-color: transparent;
  cursor: default;
}

.section-2 {
  margin-top: -7px;
  margin-left: 80px;
  cursor: default;
}

.image-2 {
  max-width: 800px;
  margin-top: 24px;
  margin-left: 76px;
  cursor: default;
}

.columns {
  height: 720px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 720px;
  max-height: none;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 720px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: default;
}

.company {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: auto;
  margin: auto auto 8px;
  padding-bottom: 8px;
  clear: none;
  font-family: Rubik, sans-serif;
  color: #373737;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4px;
  cursor: default;
}

.projecttitle {
  position: static;
  top: auto;
  height: auto;
  margin: 0px auto 24px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 32px;
  letter-spacing: 4px;
  cursor: default;
}

.image-3 {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  width: auto;
  max-height: 800px;
  max-width: none;
  margin: auto;
  float: none;
  clear: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  cursor: default;
}

.acorns-watch {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-top: 40px;
  cursor: default;
}

.section-4 {
  margin-top: 24px;
  cursor: default;
}

.image-4 {
  position: relative;
  top: 80px;
  bottom: -78px;
}

.columns-2 {
  height: auto;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 720px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: default;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 720px;
}

.dw_loogo {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
  cursor: default;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}

.footer2 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 24px;
  margin: auto auto 4px;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Rubik, sans-serif;
  color: #373737;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: none;
  cursor: default;
}

.image-6 {
  cursor: default;
}

.link_2 {
  width: 32px;
  height: 32px;
  margin-left: -3px;
  background-image: url('../images/baseline-mail-24px.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-attachment: scroll;
}

.link_2:hover {
  background-image: url('../images/baseline-mail-24px-hover.svg');
  background-size: contain;
}

.watch {
  max-height: 500px;
  margin: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.twitter {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  background-image: url('../images/Twitter_Logo_Blue.svg');
  background-position: 0px 0px;
  background-size: contain;
}

.twitter:hover {
  background-image: url('../images/Twitter_Logo_hover.svg');
  background-size: contain;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
}

.text-block {
  margin-right: auto;
  margin-left: auto;
  font-family: Rubik, sans-serif;
  color: #373737;
  font-size: 24px;
  text-align: center;
  letter-spacing: 12px;
}

.footer_link {
  overflow: visible;
  color: #636363;
  text-decoration: none;
}

.link {
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-family: Rubik, sans-serif;
  color: #ff3d3d;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
}

.link_dw {
  display: block;
  margin-top: auto;
  color: #636363;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
}

.link-3 {
  color: #636363;
  text-decoration: none;
}

.link-4 {
  color: #636363;
  text-decoration: none;
}

.link-5 {
  color: #636363;
  text-decoration: none;
}

.link-6 {
  color: #636363;
  text-decoration: none;
}

.figma {
  color: #373737;
  font-style: normal;
  text-decoration: none;
}

.link_webflow {
  color: #373737;
  text-decoration: none;
}

.link-8 {
  text-decoration: none;
}

.footer-3 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 240px;
  margin: 0px auto;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Rubik, sans-serif;
  color: #373737;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: none;
  cursor: default;
}

.footer_container {
  margin-top: 0px;
}

.dw {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-top: 40px;
  cursor: default;
}

.ss {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-top: 40px;
  cursor: default;
}

.acorns-ios {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-top: 40px;
  cursor: default;
}

.blast {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-top: 40px;
  cursor: default;
}

.wb {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
  cursor: default;
}

.amigo {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
  cursor: default;
}

.image-7 {
  margin: auto;
}

.image-8 {
  margin: auto;
}

.image-9 {
  margin: auto;
}

.image-10 {
  margin: auto;
}

.image-11 {
  margin: auto;
}

.link_ss {
  display: block;
  margin-top: auto;
  color: #636363;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
}

.link_acorns1 {
  display: block;
  margin-top: auto;
  color: #636363;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
}

.link_acorns2 {
  display: block;
  margin-top: auto;
  color: #636363;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
}

.link_blast {
  display: block;
  margin-top: auto;
  color: #636363;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
}

@media (max-width: 991px) {
  h1 {
    font-size: 80px;
    text-shadow: #000 0px 0px 0px;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 24px;
    text-shadow: #000 0px 0px 0px;
  }
  h3 {
    font-size: 19px;
  }
  p {
    font-size: 13px;
  }
  .section.header {
    position: static;
    padding-bottom: 171px;
    background-position: 50% -1%;
    background-attachment: scroll;
  }
  .section.dark {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.bg-image {
    position: static;
    background-position: 50% 50%;
    background-attachment: scroll;
  }
  .section.map {
    padding-top: 40px;
    padding-left: 40px;
  }
  .nav-bar {
    padding-top: 46px;
    padding-right: 25px;
  }
  .hero-text {
    margin-top: 60px;
  }
  .hero-text.about-text {
    margin-top: 0px;
  }
  .portfolio-text {
    margin-top: 46px;
  }
  .portfolio-text.left-up {
    margin-top: 25px;
  }
  .job-title {
    margin-top: 4px;
  }
  .social-team {
    top: 0px;
  }
  .logolink {
    position: static;
  }
  .image-wrapper {
    padding-right: 18px;
  }
  .section-2 {
    margin-left: 40px;
  }
  .image-2 {
    margin-left: 40px;
  }
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-2 {
    position: static;
    height: 400px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .company {
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .projecttitle {
    margin-top: 0%;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 24px;
    text-align: center;
  }
  .image-3 {
    position: static;
    display: block;
    overflow: auto;
    max-width: 72%;
    margin: auto;
    float: none;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .acorns-watch {
    margin-top: 62px;
    padding-top: 58px;
  }
  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    text-align: center;
  }
  .column-4 {
    height: 400px;
  }
  .dw_loogo {
    position: static;
    display: block;
    overflow: visible;
    max-width: 72%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  .footer2 {
    margin-left: auto;
    font-size: 16px;
  }
  .section-6 {
    margin-top: 0px;
    padding-top: 95px;
  }
  .link_2 {
    padding-right: 0px;
    background-image: url('../images/baseline-mail-24px.svg');
    background-size: contain;
  }
  .twitter {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    background-size: contain;
  }
  .footer-3 {
    margin-left: auto;
    font-size: 16px;
  }
  .dw {
    margin-top: 62px;
    padding-top: 58px;
  }
  .ss {
    margin-top: 62px;
    padding-top: 58px;
  }
  .acorns-ios {
    margin-top: 62px;
    padding-top: 58px;
  }
  .blast {
    margin-top: 62px;
    padding-top: 58px;
  }
  .wb {
    position: static;
    display: block;
    overflow: visible;
    max-width: 72%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  .amigo {
    position: static;
    display: block;
    overflow: visible;
    max-width: 72%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 58px;
    text-shadow: 0 0 0 #000;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 18px;
    text-shadow: #000 0px 0px 0px;
  }
  .section {
    margin-bottom: 0px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .section.header {
    padding-bottom: 99px;
  }
  .section.dark {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.bg-image {
    background-attachment: scroll;
  }
  .nav-bar {
    left: 0px;
    top: 0px;
    right: 0px;
    height: 60px;
    padding-top: 18px;
    padding-right: 0px;
    background-color: rgba(42, 81, 99, 0.2);
    text-align: center;
  }
  .hero-text {
    margin-top: 25px;
  }
  .hero-text.about-text {
    margin-top: -10px;
  }
  .services {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .portfolio-text {
    padding-right: 20px;
    padding-left: 20px;
  }
  .portfolio-text.left-up {
    margin-top: 0px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
  }
  .gallery-text {
    padding-right: 25px;
    padding-left: 25px;
  }
  .gallery-img {
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: #ccc 1px 1px 3px -1px;
  }
  .name {
    text-align: left;
  }
  .team2 {
    padding-top: 0px;
  }
  .h1-dark {
    padding-bottom: 31px;
    text-align: center;
  }
  .contact-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .address {
    text-align: center;
  }
  .conatct-info {
    padding-bottom: 60px;
    text-align: center;
  }
  .footer {
    padding-right: 13px;
    padding-left: 13px;
  }
  .social-wrapper {
    padding-top: 0px;
  }
  .h3phone {
    text-align: center;
  }
  .logo-bar {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 0px;
    text-align: center;
  }
  .logolink {
    margin-top: 0px;
  }
  .gallery-img {
    padding-left: 0px;
  }
  .image-wrapper {
    text-align: right;
  }
  .team-column {
    margin-bottom: 54px;
  }
}

@media (max-width: 479px) {
  h1 {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 34px;
    line-height: 40px;
    text-shadow: #000 0px 0px 0px;
  }
  h2 {
    margin-bottom: -10px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 28px;
    text-shadow: #000 0px 0px 0px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  p {
    padding-right: 20px;
    padding-left: 19px;
    text-align: center;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section.header {
    padding-bottom: 51px;
  }
  .section.dark {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.bg-image {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section.map {
    height: auto;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 20px;
    padding: 0px;
  }
  .nav-links {
    position: static;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 6px;
    padding: 7px 9px 0px;
    font-size: 12px;
  }
  .nav-bar {
    left: 0px;
    margin-bottom: 0px;
    padding: 12px 8px 10px 0px;
  }
  .hero-text {
    margin-top: 40px;
  }
  .hero-text.about-text {
    margin-top: 18px;
  }
  .services {
    padding-bottom: 40px;
  }
  .icon {
    padding-left: 118px;
    text-align: center;
  }
  .portfolio-text {
    margin-top: 40px;
    padding-left: 22px;
    text-align: center;
  }
  .portfolio-text.left-up {
    margin-top: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .gallery-text {
    padding-right: 20px;
    padding-left: 20px;
  }
  .gallery-img {
    margin-top: 20px;
    box-shadow: #ccc 1px 1px 3px -1px;
  }
  .center-tittle {
    font-size: 18px;
  }
  .name {
    text-align: center;
  }
  .social-team {
    top: 0px;
  }
  .team2 {
    padding-top: 70px;
  }
  .h1-dark {
    padding-top: 60px;
    padding-bottom: 10px;
    text-shadow: #000 0px 0px 0px;
  }
  .address {
    text-align: center;
  }
  .conatct-info {
    text-align: center;
  }
  .social-wrapper {
    padding-top: 0px;
  }
  .image-wrapper {
    width: 100%;
    float: none;
    text-align: center;
  }
  .info-wrapper {
    width: 100%;
    float: none;
    text-align: center;
  }
  .section-2 {
    margin-top: auto;
    margin-left: auto;
    padding-top: 8px;
    padding-left: 20px;
  }
  .image-2 {
    max-width: 100%;
    margin-top: auto;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .columns {
    height: auto;
    margin: 80px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column {
    position: static;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .column-2 {
    position: static;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .company {
    height: auto;
    margin: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .projecttitle {
    margin: auto;
    padding-top: 8px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .image-3 {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    max-width: 100%;
    margin: auto;
    padding-top: 11px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-transform: translate(0px, 8px);
    -ms-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    text-align: center;
    cursor: crosshair;
  }
  .image-3.center {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: inline;
    max-width: 80%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    float: none;
    clear: both;
    text-align: center;
  }
  .acorns-watch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 58px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .column-3 {
    height: auto;
    margin-top: auto;
    margin-bottom: 142px;
  }
  .column-4 {
    height: auto;
    margin-bottom: 100px;
  }
  .dw_loogo {
    width: auto;
    max-width: 80%;
  }
  .footer2 {
    line-height: 24px;
  }
  .image-6 {
    height: 40px;
    max-width: 50%;
    font-size: 12px;
  }
  .link_2:hover {
    background-image: url('../images/baseline-mail-24px-beige.svg');
    background-size: contain;
  }
  .watch {
    padding-top: 16px;
  }
  .text-block {
    line-height: 32px;
  }
  .link_dw {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-3 {
    line-height: 24px;
  }
  .dw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .acorns-ios {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .blast {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .wb {
    width: auto;
    max-width: 80%;
  }
  .amigo {
    width: auto;
    max-width: 80%;
  }
  .link_ss {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
  }
  .link_acorns1 {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
  }
  .link_acorns2 {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
  }
  .link_blast {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
  }
}

